.App {
  text-align: center;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}

.red {
  color: red;
}


.App button {
  background-color: green;
  color: white;
  border: 1px solid white;
  padding: 8px;
  cursor: pointer;
}

.App button:hover {
  background-color: lightgreen;
  color: black;
}

.App button.red {
  background-color: red;
  color: white;
}

.App button.red:hover {
  background-color: salmon;
  color: black;
}
